<% layout('layouts/boiler') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="mb-4 text-center">Add New Product</h2>
    <form method="post" action="/createnew" novalidate  class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Enter title" required>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" name="price" class="form-control" id="price" placeholder="Enter price" required>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" class="form-control" id="description" rows="4" placeholder="Enter description" required></textarea>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="country" class="form-control" id="country" placeholder="Enter country" required>
        </div>
        <div class="col">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="location" class="form-control" id="location" placeholder="Enter location" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" name="image" class="form-control" id="image" required>
      </div>
 
      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </form>
  </div>
</div>
